<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-image: url("https://i.ytimg.com/vi/Ml1QR9YfReE/maxresdefault.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      input {
        height: 5vh;
        width: 100vh;
        border-radius: 5vh;
      }
      form {
        margin-top: 25%;
      }
      .but {
        border-radius: 2vh;
        height: 4vh;
      }
    </style>
  </head>
  <body>
    <center>
      <form action="" method="POST">
        <input type="text" name="animename" />
        <button class="but" type="submit">Search</button>
      </form>
    </center>
  </body>
</html>
